<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Reconocimiento de rostro
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()" color="light">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
  <div class="photo" [ngStyle]="{'background': 'url(' + image + ')'}">
    {{ image ? "" : "No se ha tomado una foto"}}
  </div>
  <button ion-button full (click)="analyzeFace()">
    <ion-icon name="camera"> </ion-icon>
    Tomar foto
  </button>
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
  <div *ngIf="!loading && analysis?.length > 0" class="analysis">
    <h1>Analisis</h1>
    <div *ngFor="let an of analysis" class="subanalysis">
      <h2>{{an?.feature}}</h2>
      <p>{{an?.value}}</p>
    </div>
  </div>
</ion-content>
