<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Cámara
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()" color="light">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <button ion-button round icon-left (click)="takePicture()">
      <ion-icon name="camera"> </ion-icon>
      Tomar foto
    </button>
    <ion-card padding style="font-size: 15px">Selecciona el botón "Tomar foto" para abrir la cámara</ion-card>
    <ion-card *ngIf="this.image">
      <img [src]="this.image">
    </ion-card>
    <ion-card style="font-size: 15px" *ngIf="this.latitude && this.longitude">
      Localización en donde se tomó la imagen:
      <ion-row>
        <ion-col>
          <button ion-button round small (click)="goToMap()">
            Ver en el mapa
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
